body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:url(OIP\ \(1\).jpg);
    background-repeat: round;
 
}
.container{
    margin-top: 100px;
    background-color:pink;
    max-width: 600px;
    padding: 10px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}
input[type="text"]{
    padding: 8px;
    color: rgb(255, 0, 230);
    width: 95%;
    margin-top: 5px; 
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
}
input[type="text"]:hover{
    box-shadow: 0px 0px 10px rgb(255, 0, 166);

}
input[type="text"]:focus{
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border: none;

}
label{
    font-family: fantasy;
    margin-bottom: 10px;
}
h1{
    text-align: center;
    border: 2px dotted palevioletred;
   
    text-shadow: 2px 2px 4px rgb(255, 0, 166);
}
button{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 150px;
    padding: 5px;
    background-color: black;
    text-decoration: underline;
    color: pink;
    border : none;
    border-radius: 10px;
    width: 100px;
    cursor: cell;
}
button:hover{
    background-color: palevioletred;
    color: black;      
    font-family: fantasy;
    text-decoration: underline;
    }

#result{
    margin-left: 85px;
    margin-bottom: 20px;
    font-size: 14px;
    color: rgb(81, 0, 255);
    text-decoration: underline white;
   width: 200px;
}
